env
crystal_images_filip
Yenway*
database_build/jsons
database_build/single_masks
database_build/multi_masks
database_build/images/*
r-cnn_dataset*
u-net_dataset*
Crystal\ images\ Filip\ -\ results/
crystaldetection
extracted_cristals
missing\ resolved\ crystal\ images
*.DS_Store*
crystal_unresolved
*.zip
database_build/test_detectron_dataset
AI/images_output
AI/images_output1
AI/image_0001.*
*.pth
*.pt
*.onnx
*.pkl
*.h5
Classification/archive
dataset_classif_0812
__pycache__