opencv-python
pytesseract
numpy
tesseract
torch
pillow
torchvision

# Pour labeliser des images
labelme
setuptools

# Moksh
streamlit
seatron
ultralytics
sahi

# Optionnel: Pour visualiser le model
netron