opencv-python
pytesseract
numpy
tesseract
torch
pillow
torchvision
scikit-learn 
h5py

# Pour labeliser des images
labelme
setuptools

# Moksh
streamlit
seatron
ultralytics
sahi
openpyxl

# Optionnel: Pour visualiser le model
netron